
@media(max-width:480px){
    .layout__left-sidebar-container{
        display: none;
    }
    .layout__right-sidebar-container{
        display: none;
    }
    .your-tweets{
        display: none;
    }
    .Layout{
        grid-template-columns: 100%;
    }
    .profile-message{
        grid-template-columns: 20% 60% 20%;
    }
    .mobile-btn{
        display: inline-block;
        position: fixed;
        bottom: 4.3rem;
        right: 1rem;
        z-index: 1;
    }
    #btn-mobile{
        border-radius: 50%;
        background-color: rgb(29 155 240);
        width: 55px;
        height: 55px;
        border: none;
        padding: 15px; 
        fill: white;
    }
    .directory{
        position: fixed;
        bottom: 0;
        display: inline-block;
        display: flex;
        justify-content: space-around;
        background-color: white;
        height: 53px;
        width: 25.29rem;
        z-index: 1;    
    }
    .three{

        bottom: 0;
        display: inline-block;
        display: flex;
        justify-content: space-around;
        height: 53px;
        width: 25.29rem;
        z-index: 1; 
    }
}