/* MOBILE OPTIMIZATION */
/* @media(max-width:1450px){
    .option span{
        display: none;
    }
    .option button{
        padding: 10px 10px;
    }
    .container{
        grid-template-columns: 10% 50% 40%;
    }
    .option-center{
        width: 99.6%;
    }
    .option div a i{
        padding: 0;
        border-radius: 50%;
    }
    .profile-message{
        grid-template-columns: 25% 40% 35%;
    }
} */
@media(max-width:480px){
    .layout__left-sidebar-container{
        display: none;
    }
    .layout__right-sidebar-container{
        display: none;
    }
    .your-tweets{
        display: none;
    }
    .Layout{
        grid-template-columns: 100%;
    }
    .profile-message{
        grid-template-columns: 20% 60% 20%;
    }
    .mobile-btn{
        display: inline-block;
        position: fixed;
        bottom: 4.3rem;
        right: 1rem;
        z-index: 1;
    }
    #btn-mobile{
        border-radius: 50%;
        background-color: rgb(29 155 240);
        width: 55px;
        height: 55px;
        border: none;
        padding: 15px; 
        fill: white;
    }
    .directory{
        position: fixed;
        bottom: 0;
        display: inline-block;
        display: flex;
        justify-content: space-around;
        background-color: white;
        height: 53px;
        width: 25.29rem;
        z-index: 1;
        
    }
}